body {
    background-color: #3a3c3f;
    color: whitesmoke;
    font-family: lato;
    font-size: large;
    min-height: 100vh;
    position: relative;
}

.navbar-collapse {
    text-align: right;
}

.mainContent {
    margin-top: 1em;
    padding-bottom: 8em;
}

.custom-form {
    color: black;
}

.aboutMe {
    text-align: justify;
    margin: 1rem
}

.frontImage {
    width: 100%;
    margin-top: 2em;
}

.iconCursor {
    cursor: pointer;
}

.triggerLink {
    color: blue;
    cursor: pointer;
}

.triggerLink:hover {
    text-decoration: underline;
}

.alert {
    margin-bottom: 0;
}

.toast {
    background-color: #343a40;
    max-width: 100%;
    margin-bottom: 0 !important;
    color: red;
    text-align: center;
}

.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

svg.shareIcon {
    & path:hover {
        fill: white !important;
    }
}

.signature {
    max-height: 2em;
}

/* Category */
@import 'category';

/* Gallery */
@import 'gallery';

/* Caroussel */
@import 'caroussel';

/* Admin */
@import 'admin';

/* Blog */
@import 'blog';

/* Font */
@font-face {
    font-family: lato;
    src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: lato;
    font-weight: bold;
    src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: lato;
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: lato;
    font-style: italic;
    src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
}

@font-face {
    font-family: lato;
    font-weight: lighter;
    src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
    font-family: lato;
    font-weight: lighter;
    font-style: italic;
    src: url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
}