body {
    background-color: #3a3c3f;
    color: whitesmoke;
}

.navbar-collapse {
    text-align: right;
}

.main-content {
    margin-top: 1em;
}

.custom-form {
    color: black;
}

.aboutTitle {
    text-align: center;
}

.aboutMe {
    text-align: justify;
    margin: 1rem
}

.language {
    cursor: pointer;
}

/* Category */
@import 'category';

/* Gallery */
@import 'gallery';

/* Caroussel */
@import 'caroussel';

/* Admin */
@import 'admin';
