.editButtons {
    margin-bottom: 1em;
}

.editButton {
    border: 1px solid whitesmoke;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
}

.popover-header {
    color: black;
}

.addImage {
    cursor: pointer;
    color: blue;
}

.addImage:hover {
    text-decoration: underline;
}

.postLayout {

    & blockquote {
        background-color: rgba($color: white, $alpha: .23);
        margin-left: 2em;
        margin-right: 2em;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    & img {
        max-width: 100%;
        max-height: 42em;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    & p {
        text-align: justify;
    }
}

.blogCard {
    margin-bottom: 3em;
}

.blogCard:hover {
    border: #28a745 3px solid;
}

.blogCardLink:hover {
    text-decoration: none;
}

.blogCardImage {
    object-fit: cover;
}

.blogCardTitle {
    font-weight: bold;
}

.blogCardAuthor {
    font-weight: lighter;
    margin-bottom: 1em;
}

.blogCardDescription {
    font-style: italic;
}

.imageHeaderBlog {
    width: 100%;
    object-fit: cover;
    height: 15em;
    object-fit:cover;
    filter: brightness(.42);
}