.editButtons {
    margin-bottom: 1em;
}

.editButton {
    border: 1px solid whitesmoke;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
}

.popover-header {
    color: black;
}

.addImage {
    cursor: pointer;
    color: blue;
}

.addImage:hover {
    text-decoration: underline;
}

.postLayout {

    & blockquote {
        background-color: rgba($color: white, $alpha: .23);
        margin-left: 2em;
        margin-right: 2em;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    & img {
        max-width: 100%;
        max-height: 25em;
    }
}