.modal-carousel {
    max-width: max-content;
    width: auto;


    & .modal-header {
        border: none;
    }

    & .modal-footer {
        border: none;
    }

    & .modal-content {
        background-color: transparent;
        border: none;
    }

    & .carousel-item {
        text-align: center;
    }

    & .carousel-caption {
        position: relative;
        text-align: center;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .exifs-info {
        padding-bottom: 0.5em;
    }

    & .carousel-control-next {
        opacity: 0;
        transition: none;

        &:hover {
            opacity: 0.9;
        }

        &:focus {
            opacity: 0;
        }

        &:focus:hover {
            opacity: 0.9;
        }
    }
    & .carousel-control-prev {
        opacity: 0;
        transition: none;

        &:hover {
            opacity: 0.9;
        }

        &:focus {
            opacity: 0;
        }
        &:focus:hover {
            opacity: 0.9;
        }
    }
    & .close {
        color: whitesmoke !important;
    }
}

