/* Bootstrap */
@import "node_modules/bootstrap/scss/bootstrap";

body {
    background-color: #3a3c3f;
    color: whitesmoke;
}

.navbar-collapse {
    text-align: right;
}

.main-content {
    padding-top: 1em;
}

/* Category */
@import "category";

/* Gallery */

@import "gallery";

/* Caroussel */

@import "caroussel";
