.category-cards {
    padding: 1em;
    width: 23em;
    height: 23em;
}

.category-card {
    width: 21em;
    height: 21em;
    padding: 1em;
}

.category-card-img {
    width: 19em;
    height: 19em;
    object-fit:cover;
}

.category-card-text {
    top: 45%;
}