.category-cards {
    text-align: -moz-center;
    text-align: -webkit-center;
}

.category-card {
    width: 19rem;
    height: 19rem;
    background-color: transparent;
    border: none;
    margin-top: 1em;
}

.category-card-img {
    width: 19rem;
    height: 19rem;
    object-fit:cover;
}

.category-card-text {
    top: 45%;
}