.gallery {
    padding: 0;
    margin-top: 1em;
    text-align: -moz-center;
    text-align: -webkit-center;
}

.gallery-photo {
    width: 19rem;
    height: 19rem;
    object-fit:cover;
}

.gallery-photo:hover {
    cursor: pointer;
}