.category-cards {
    text-align: -moz-center;
    text-align: -webkit-center;
}

.category-card {
    width: 19rem;
    height: 19rem;
    background-color: transparent;
    border: none;
    margin-top: 2em;
}

.category-card-img {
    width: 19rem;
    height: 19rem;
    object-fit:cover;
}

.category-card-text {
    background-color: rgba(0,0,0,.6);
}

.category-card-text:hover {
    background-color: transparent;
    color: transparent;
}
